/* Center all content on the page */
/* body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.h1 {
    padding: 20px 40px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    transition: background-color 0.5s ease;
}

/* Background color for each mood */
.very-happy {
    background-color: pink;
}

.happy {
    background-color: yellow;
}

.neutral {
    background-color: lightgray;
}

.sad {
    background-color: lightblue;
}

.very-sad {
    background-color: lightcoral;
}
  
/* Header styles */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Container styles */
.container {
    padding: 20px;
}

/* Card styles */
.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

/* Button styles */
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px; /* Increased border-radius for more rounded edges */
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin: 10px; /* Added margin to space out the buttons */
    display: block; /* Make the button a block element */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto; /* Center the button horizontally */
}

.button:hover {
    background-color: #45a049;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Footer styles */
.footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}